@model Intelectah.ViewModel.VendasViewModel

@Html.HiddenFor(x => x.NomeCliente)
@Html.HiddenFor(x => x.NomeVeiculo)
@Html.HiddenFor(x => x.NomeConcessionaria)
@Html.HiddenFor(x => x.NomeFabricante)
@Html.HiddenFor(x => x.NomeUsario)


<div class="row">
    <div class="col-md-6">
        <label asp-for="ClienteID" class="form-label">Selecione o cliente</label>
        <select asp-for="ClienteID" asp-items="@(ViewBag.Clientes as IEnumerable<SelectListItem>)" class="form-select">
            <option value="">Selecione um cliente</option>
        </select>
        <span asp-validation-for="ClienteID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="DataVenda" class="control-label"></label>
            <input asp-for="DataVenda" class="form-control" type="datetime-local"
                   value="@Model.DataVenda.ToString("yyyy-MM-ddTHH:mm")" />
            <span asp-validation-for="DataVenda" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label asp-for="ValorTotal" class="form-label">Valor R$</label>
        <input asp-for="ValorTotal" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="ValorTotal" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="UsuarioID" class="form-label">Vendedor</label>
        <select asp-for="UsuarioID" asp-items="@(ViewBag.Usuarios as IEnumerable<SelectListItem>)" class="form-select">
            <option value="">Selecione um usuário</option>
        </select>
        <span asp-validation-for="UsuarioID" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label asp-for="ConcessionariaID" class="form-label">Concessionária</label>
        <select asp-for="ConcessionariaID" asp-items="@(ViewBag.Concessionarias as IEnumerable<SelectListItem>)" class="form-select">
            <option value="">Selecione uma concessionária</option>
        </select>
        <span asp-validation-for="ConcessionariaID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="FabricanteID" class="form-label">Fabricante</label>
        <select asp-for="FabricanteID" id="FabricanteID" class="form-select">
            <option value="">Selecione um fabricante</option>
            @foreach (var fabricante in (IEnumerable<SelectListItem>)ViewBag.Fabricantes)
            {
                <option value="@fabricante.Value">@fabricante.Text</option>
            }
        </select>
        <span asp-validation-for="FabricanteID" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label asp-for="VeiculoID" class="form-label">Modelo</label>
        <select asp-for="VeiculoID" id="veiculoSelect" class="form-select">
            <option value="">Selecione um modelo</option>
            @foreach (var modelo in (IEnumerable<SelectListItem>)ViewBag.Modelos)
            {
                <option value="@modelo.Value">@modelo.Text</option>
            }
        </select>
        <span asp-validation-for="VeiculoID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="ProtocoloVenda" class="form-label">Protocolo da Venda</label>
        <input asp-for="ProtocoloVenda" class="form-control" readonly />
        <span asp-validation-for="ProtocoloVenda" class="text-danger"></span>
    </div>
</div>


